services:
  app:
    image: abdillahhamzahali/golang-clean-architecture:${IMAGE_TAG:-latest}
    env_file:
      - ./.env
    deploy:
      mode: replicated
      replicas: 3
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "./main --migrate && ./main"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

  db:
    image: postgres:latest
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d golang_clean_architecture"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
