services:
  app:
    image: abdillahhamzahali/golang-clean-architecture:${IMAGE_TAG:-latest}
    env_file:
      - ./.env
    deploy:
      mode: replicated
      replicas: 3
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "./main --migrate && ./main"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`202.10.42.4`) && PathPrefix(`/api`)"
      - "traefik.http.routers.app.entrypoints=web"
      - "traefik.http.middlewares.strip-api-prefix.stripprefix.prefixes=/api"
      - "traefik.http.routers.app.middlewares=strip-api-prefix@docker"
      - "traefik.http.services.app.loadbalancer.server.port=8000"

  traefik:
    image: traefik:v3.0
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  db:
    image: postgres:latest
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d golang_clean_architecture"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
