services:
  app:
    build: .
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy
    # Perintah ini pertama-tama menjalankan migrasi database, kemudian memulai server web.
    command: sh -c "./main --migrate && ./main"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app

  db:
    image: postgres:latest
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d golang_clean_architecture"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
