name: CI/CD Staging

on:
  push:
    branches: ["staging"]

jobs:
  build:
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Connect to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          file: ./Dockerfile
          push: true
          # Menggunakan ID commit Git (SHA) sebagai tag untuk versioning yang unik dan andal.
          tags: ${{ secrets.DOCKER_USERNAME }}/golang-clean-architecture:${{ github.sha }}
          labels: "org.opencontainers.image.revision=${{ github.sha }}"

  deployment:
    needs: build
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to staging environment
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            whoami
            cd /home/anno/golang-clean-architecture
            git pull origin staging

            export IMAGE_TAG=${{ github.sha }}

            docker compose -f docker-compose.prod.yml pull app

            docker compose -f docker-compose.prod.yml up -d --remove-orphans
          debug: true
